.wrapper, .single-card {
	height: 255px;
	max-width: 300px;
	margin: 0 auto;
	position: relative;
}
.wrapper {
    padding-top: 40px;
	perspective: 900px;
    display: flex;
    justify-content: center;

	@media (max-width: 820px) {
		max-width: 100% !important;
		height: 500px !important;
		flex-wrap: wrap;
	}
	@media (max-width: 600px) {
		height: 1000px !important;
	}
}
.single-card {

	text-align: center;
	transition: all 1s cubic-bezier(0.5, -0.5, 0.1, 1);
	transform-style: preserve-3d;
}
#singleCard1:hover {
	transform: rotateY(180deg);
}

#singleCard2:hover {
	transform: rotateY(180deg);
}

#singleCard3:hover {
	transform: rotateY(180deg);
}

#singleCard4:hover {
	transform: rotateY(180deg);
}

.front, .back {
	width: 300px;
	position: relative;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.front {
	cursor: pointer;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 50px;
	background-size: cover;
	background-position: center center;
}
.back {
	transform: rotateY(180deg);
	position: absolute;
	border-radius: 50px;
	height: 200px;
	background: #fff;
}

.content h2 {
	font-size: 35px;
	margin: 0;
	font-weight: 300;
}
.content h4 {
	margin: 0;
}





