.cardContainer {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardGroup {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.cardCustom {
    height: 180px;
    width: 24%;
    align-items: center;
    padding: 20px;
    border: solid 7px #3B2313;
    border-radius: 1em;
    text-align: center;
}

.cardCustom:hover {
    /* opacity: 50%; */
    cursor: pointer;
}

.cardCustom img {
    width: 25%;
}

.cardFront {
    /* border: 1px solid blue; */
    height: 10rem;
}

.cardBack {
    /* border: 1px solid red; */
    height: 10rem;
}

@media screen and (max-width: 1021px) {
    .cardGroup {
        flex-direction: column;
        width: 70%;
    }
    .cardCustom {
        width: 100%;
        margin-bottom: 15px;
    }
}
