.cardContainer {
    /* background-color: #B2C035; */
    width: 100%;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardGroup {
    width: 70%;
}

.cardCustom {
    align-items: center;
    padding: 20px;
    border: solid 7px #3B2313;
}

.cardCustom img {
    width: 25%;
}

.inbetween {
    width: 1%;
    /* background-color: #B2C035; */
}

@media screen and (max-width: 1021px) {
    .cardContainer {
        text-align: left;
        display: flex;
        flex-direction: column;
    }
    .cardGroup {
        width: 100%;
    }
}

