.contactContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactBottom {
    font-size: 1.5rem;
}

.contactItems {
    display: flex;
    flex-direction: row;
}

.firstContactItems {
    padding-right: 100px;
}

@media screen and (max-width: 1021px) {
    .contact {
        font-size: 1.5rem;
    }
    .contactContainer {
        width: 100%;
    }
}