.hero {
    display: flex;
    background-color: #e5e5e5;
    padding: 20px;
}

.hero-left-section {
    width: 40%;
    text-align: center;
    padding: 40px;
}
  
.hero-right-section {
    width: 60%;
}

@media screen and (max-width: 912px) {
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-left-section {
        width: 100%;
    }
    .hero-left-section h4 {
        font-size: 1em;
    }
    .hero-right-section {
        width: 100%;
    }
}
