.hero {
    display: flex;
    background-color: #e5e5e5;
    padding: 28px;
}

.hero-left-section {
    width: 40%;
    text-align: center;
    padding: 40px;
}
  
.hero-right-section {
    width: 60%;
}

