.footer {
  width: 100%;
  background-color: #3B2313;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #FAFAFA;
  height: 100%;
}

.social-icon {
  font-size: 3.5rem;
  color: #FAFAFA;
  padding-right: 30px;
}

.social-icon:hover {
  color: #B2C035;
}

.phoneSection {
  width: 500px;
  font-size: 3.5rem;
  display: flex;
  align-items: flex-end;
}

.phoneSection h2 {
  padding-right: 10px;
}

.iconsAndPhoneDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.otherLinksCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -30px;
}

.otherLinksCol li {
  list-style-type: none;
  padding-bottom: 10px;
  font-size: 1.1rem;
}

.otherLinksCol a {
  color: #FAFAFA;
  text-decoration: none;
}

.otherLinksCol a:hover {
  color: #B2C035;
}