.footer {
  background-color: #3B2313;
  padding-top: 50px;
  padding-bottom: 20px;
  color: #FAFAFA;
}

.email {
  font-size: 3.5rem;
  display: flex;
  align-items: baseline;
  cursor: pointer;
}

.email:hover {
  color: #B2C035;
}

.social-icon {
  font-size: 3.5rem;
  color: #FAFAFA;
}

.social-icon:hover {
  color: #B2C035;
}

.socialIconsDiv {
  display: flex;
}

.phoneSection {
  font-size: 3.5rem;
  display: flex;
  align-items: baseline;
  cursor: pointer;
}

.phoneSection:hover {
  color: #B2C035;
}

.phoneIcon {
  padding: 0;
}

.iconsCol {
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;  
  }
}

.contactForm input {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
}

.contactForm textarea {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}