.header {
    text-align: center;
    color: #3B2313;
    padding-right: 40px;
}

.secondContactItems {
    display: flex;
    flex-direction: row;
}

.contact {
    padding-right: 30px;
}


@media screen and (max-width: 1021px) {
    .header h1 {
        font-size: 1.5rem;
    }
    .header h4 {
        font-size: 1rem;
    }
}