.navBar {
    background-color: #FAFAFA;
}

.header {
    text-align: center;
    padding-right: 100px;
}

.socialIconsDiv {
    display: flex;
    flex-direction: row;
}

.socialIcons {
    padding-right: 30px;
    font-size: 2.25rem;
    background-color: #FAFAFA;
}


@media screen and (max-width: 1021px) {
    .header h2 {
        font-size: 1rem;
    }
    .header h5 {
        font-size: 0.75rem;
    }
}

