.header {
    text-align: center;
    padding-right: 40px;
}

.secondContactItems {
    display: flex;
    flex-direction: row;
}

.contactTop {
    padding-right: 30px;
    font-size: 2.25rem;
}


@media screen and (max-width: 1021px) {
    .header h2 {
        font-size: 1rem;
    }
    .header h5 {
        font-size: 0.75rem;
    }
}

