.agentsWrapper {
    margin-top: 200px;
    height: 700px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    width: 300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0px auto;
}

.card-front {
    background-color:cornflowerblue;
}

.card-back {
    background-color: greenyellow;
}