.wrapperForImgAndCardsAndContact {
    position: relative;
    height: 100%;
}

.cardAndContactContainer {
    position: relative;
    width: 100%;
    z-index: 2;
}

.imgDiv {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
    position: absolute;
    z-index: 1;
}

.imgDiv img {
    width: 30%;
    height: 20%;
}

#img1 {
    transform: rotateY(180deg);
    clip-path: inset(0px 0px 0px 150px);
}

#img2 {
    transform: rotateX(360deg) rotateY(360deg);
    clip-path: inset(0px 0px 0px 150px);
}


/* @media screen and (min-width: 1514px) {
    .imgDiv {
        align-items: end;
    }
} */