/* Base Styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
    /* background-image: url("../images/hawaiianFlowersImg.png")  */
  }

/* Base */
@import "base/global.css";
@import "base/typography.css";

/* Components */
@import "components/hero.css";
@import "components/cards.css";

/* Layouts */
@import "layouts/navigationBar.css";
@import "layouts/footer.css";

/* Pages */
@import "pages/home.css";
@import "pages/agents.css";

