/* Base Styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #FAFAFA;
  }

/* Base */
@import "base/global.css";
@import "base/typography.css";

/* Components */
@import "components/hero.css";

/* Layouts */
@import "layouts/navigationBar.css";
@import "layouts/footer.css";

/* Pages */

